
<html>
    <head>

        <link rel="stylesheet" type="text/css" href="/css/main.css">

    </head>
    <body>
        <header>
            <h1>RateMyCourses!</h1>
        </header>
        <nav>
            <a href="/">Home</a>
            <a href="/reviews/add">Add a Review</a>
            <a href="/reviews/mine">My Reviews</a>
        </nav>

        {{{ body }}}

        <p>Your session's total page visits: {{pageCount}}</p>
    </body>

</html>